<!--author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>User Registration Form Flat Responsive widget Template :: w3layouts</title>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css files -->
<!-- <link rel="stylesheet" th:href="@{/css/main.css}"  href="../../css/main.css" /> -->
 <link rel="stylesheet" th:href="@{/css/jquery-ui.css}"  href="../../css/jquery-ui.css"/>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
<!-- stylesheet-css -->
<link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet"/>
<link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet"/>

<!-- //css files -->
</head>
<body>
	<h1>User Registration Form</h1>
	
	<!-- <div th:if="${userRegisterationDetails.name !=null}">
	<p th:text="'name1: ' + ${userRegisterationDetails.name}" />
	</div> -->
	<div th:if="${accountCreation.name =='admin'}">
	<script>
		alert("you can not create admin user again");
	</script>
	</div>
	<!-- <p th:text="'name2: ' + ${accountCreation.name}" /> -->
<div class="w3l-main">
	<div class="w3l-from">
	
		<form action="#" th:action="@{/admin/userRegisterationDetails}" th:object="${accountCreation}" method="post">	
			<div class="w3l-user">
				<label class="head">Name<span class="w3l-star"> * </span></label>
				<input type="text" th:field="*{name}" name="" placeholder="" required=""/>
			</div>
			<div class="w3l-num">
					<label class="head">Password<span class="w3l-star"> * </span></label>
					<input type="text" th:field="*{password}"  name="password" placeholder="password" required="" />
				</div>
				<div class="clear"></div>
			<div class="w3l-mail">
				<label class="head">Email<span class="w3l-star"> * </span></label>
				<input type="email" th:field="*{email}" name="email" placeholder="" /><!-- required=""/> -->
			</div>
			<div class="clear"></div>
			<div class="w3l-details1">
				<div class="w3l-num">
					<label class="head">Phone Number<span class="w3l-star"> * </span></label>
					<input type="text" th:field="*{phoneNumber}"  name="phone number" placeholder="" /><!-- required=""/> -->
				</div>
				<div class="w3l-date">
					<label class="head">Birth Date<span class="w3l-star"> * </span></label>
						<div class="styled-input">
							<input class="date" id="datepicker" name="Text" type="text" value="MM/DD/YYYY" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'MM/DD/YYYY';}" required=""
							th:field="*{dateOfBirth}" />
						</div>
					</div>	
			<div class="clear"></div>
			<div class="gender">
				<label class="head">gender<span class="w3l-star"> * </span></label>	
					<select class="form-control" th:field="*{gender}">
						<option value=""></option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
			</div>
			<div class="clear"></div>
			</div>
			<div class="w3l-user">
				<label class="head">Street Address<span class="w3l-star"> * </span></label>
				<input type="text" th:field="*{address}" name="Address" placeholder="" /><!-- required=""/> -->
			</div>
			<div class="w3l-num">
					<label class="head">City<span class="w3l-star"> * </span></label>
					<input type="text" th:field="*{city}"  name="City" placeholder="" /><!-- required=""/> -->
				</div>
			<div class="w3l-sym">
					<label class="head">State<span class="w3l-star"> * </span></label>
					<input type="text"  th:field="*{state}"  name="State" placeholder="" /><!-- required=""/> -->
			</div>
			<div class="clear"></div>
			<div class="w3l-num">
					<label class="head">Postal / Zip Code<span class="w3l-star"> * </span></label>
					<input type="text"  th:field="*{zipCode}"  name="Postal / Zip Code" placeholder="" /><!-- required=""/> -->
				</div>
			<div class="w3l-options2">
			<label class="head">Country<span class="w3l-star"> * </span></label>	
				<select class="category2" th:field="*{country}"> <!-- required=""> -->
						<option value=""></option>
						<option value="India">India</option>
						<option value="OtherCountry">Other</option>
					</select>
			</div>
			<div class="clear"></div>
			<div class="w3l-rem">
				<!-- <div class="w3l-right">
					<label class="w3l-set2">Relationship</label>
					<textarea></textarea>
				</div> -->	
				<div class="btn">
					<input type="submit" name="submit" value="Submit"/>
				</div>
			</div>
			<div class="clear"></div>
		</form>
	</div>
</div>
	<footer>&copy; 2018 User Registration Form. All Rights Reserved</footer>
	<!-- Default-JavaScript --> <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

<!-- Calendar -->
<script th:src="@{/js/jquery-ui.js}"></script>
	<script>
		$(function() {
		$( "#datepicker,#datepicker1" ).datepicker();
		});
		
	</script>
	
	
	
	
<!-- //Calendar -->

</body>
</html>